.panel {
  color: black;
  padding: 5px;
  border-radius: 5px;
  background-color: white;
  height: 100%;
  overflow-y: auto;
  scrollbar-width: none;
}

.panel ul {
  list-style: none;
  margin: 1.6em 0.4em;
  padding-left: 0;
}
.panel ul ul {
  padding-left: 1.2em;
  margin: 0.1em 0 0 0;
}
.panel li.group + li.group {
  margin-top: 0.4em;
}

.panel li.group > label {
  font-weight: ;
}

.panel li {
  position: relative;
  margin-top: 0.3em;
}

.panel li input {
  position: absolute;
  left: 1.2em;
  height: 1em;
  width: 1em;
  font-size: 1em;
}
.panel li label {
  padding-left: 2.7em;
  padding-right: 1.2em;
  display: inline-block;
  margin-top: 1px;
}

.panel label.disabled {
  opacity: 0.4;
}

.panel input {
  margin: 0px;
}

li.layer-switcher-base-group > label {
  padding-left: 1.2em;
}

.panel .group button {
  position: absolute;
  left: 0px;
  display: inline-block;
  vertical-align: top;
  float: none;
  font-size: 1em;
  width: 1em;
  height: 1em;
  margin: 0;
  background-position: center 2px;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAW0lEQVR4nGNgGAWMyBwXFxcGBgaGeii3EU0tXHzPnj1wQRYsihqQ+I0ExDEMQAYNONgoAN0AmMkNaDSyQSheY8JiaCMOGzE04zIAmyFYNTMw4A+DRhzsUUBtAADw4BCeIZkGdwAAAABJRU5ErkJggg==');
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  -ms-transition: -ms-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  border: none;
  outline: none;
}

.panel .group.layer-switcher-close button {
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
}

.panel .group.layer-switcher-fold.layer-switcher-close > ul {
  overflow: hidden;
  height: 0;
}
